@model IEnumerable<FletNix.Models.Movie>
@{
    ViewData["Title"] = "Award a movie";

    if (ViewData["from"] != null)
    {
        if (int.Parse(ViewData["from"].ToString()) != 0)
        {
            ViewData["fromNeg"] = int.Parse(ViewData["from"].ToString()) - 20;
        }
        ViewData["from"] = int.Parse(ViewData["from"].ToString()) + 20;
    }
    else
    {
        ViewData["from"] = 20;
    }

    ViewData["current"] = int.Parse(ViewData["from"].ToString()) - 20;
}

<h1>@ViewData["title"]</h1>

@foreach (var movie in Model)
{
    <a asp-controller="MovieAward"
       asp-action="Award"
       asp-route-movie="@movie.movie_id">
        <paper-card class="watchedMovie movieCard">
            <h2>@movie.title</h2>
            <div id="filler"></div>
            <div id="filler"></div>
            <div id="filler"></div>
            <div id="filler"></div>
            <div id="filler"></div>
            <div id="filler"></div>
        </paper-card>
    </a>
}

<div id="pagination">
    @{
        if (int.Parse(ViewData["from"].ToString()) == 20)
        {
            <paper-button disabled><iron-icon icon="chevron-left"></iron-icon></paper-button>
        }
        else
        {
            <a asp-controller="MovieAward"
               asp-action="Index"
               asp-route-from="@ViewData["fromNeg"]"><paper-button><iron-icon icon="chevron-left"></iron-icon></paper-button></a>
        }
    }
    <a asp-controller="MovieAward"
       asp-action="Index"
       asp-route-from="@ViewData["from"]"><paper-button><iron-icon icon="chevron-right"></iron-icon></paper-button></a>
</div>
